<div class="container-fluid" style="margin-top: 40px;">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-male-company-employee-avatar-icon-wearing-a-necktie-png-image_6133877.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Employees</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Hello Employees check your details here</p>
                    <button type="button" class="btn btn-primary">Visit</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/bubbles/256/man-blue-shopping-basket.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Customers</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Hello Users Check your details here</p>
                    <button type="button" class="btn btn-primary">Visit</button>

                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/office/256/cutting-coupon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Offers And Services</b>
                    </h5>
                    <p class="card-text">Our offers will make you drool</p>
                    <button type="button" class="btn btn-primary">Visit</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/ios-filled/256/thumbs-up-down.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Feedback</b>
                    </h5>
                    <p class="card-text">All FeedBack Welcome</p>
                    <button type="button" class="btn btn-primary">Visit</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/doodle/256/google-maps-new.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Locate-Us</b>
                    </h5>
                    <p class="card-text">Find Our Nearest Branch</p>
                    <button type="button" class="btn btn-primary">Visit</button>

                </div>
            </div>
        </div>
    </div>
    </div>